body {
    background-color: black;
    color: yellow;
}
section {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: yellow;
}
a:hover {
    color: red;
}
nav {
    margin: 15px 10px;
}
nav a {
    margin: 10px;
    padding: 8px 0;
}
a.user {
    color: red;
    cursor: default;
    margin: 0 0 0 30px;
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
}
.nav .logo {
    display: flex;
}
.top {
    padding: 8px 0;
}
.top p {
    margin: 0;
}
.top nav {
    margin: 0;
}
.nav .logo h2 {
    padding-left: 10px;
}
hr {
    border-color: #555;
    margin: 0;
}
.dirs article img {
    width: 100%;
    height: 100%;
}
.dirs article img.sec {
    display: none;
    cursor: pointer;
}
.dirs article:hover img.sec {
    display: block;
}
.dirs article:hover img {
    display: none;
}
footer {
    color: #34bdcc;
    text-align: center;
}
article.img {
    padding: 10px;
    border: 5px solid #555;
    max-width: 40vw;
    max-height: 75vh;
}
.finfo {
    padding: 50px 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
main.login {
    padding-top: 5vh;
}
form {
    display: flex;
    flex-direction: column;
    margin: auto;
}
input, button {
    width: 20vw;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: #555;
    color: #DDD;
    border: none;
}
button {
    width: 20.9vw;
    background-color: #F33;
    color: #DDD;
    cursor: pointer;
}

